:root{    
    --primary-color: #50f;
    --secondary-color: #fff;
    --success-color: #52c41a;
    --main-background: #fafafa;
    --gray-200: #f5f5f5;
    --gray-400: #d9d9d9;
    --gray-500: #bfbfbf;
    --gray-600: #8c8c8c;
    --purple-200: #a491ff;
    --purple-300: #8561ff;
    --purple-400: #6b31ff;
    --purple-500: #50f;
    --purple-800: #210070;
    --purple-800: #210070;
    --blue-300: #85a5ff;
    --blue-500: #2f54eb;
    --blue-600: #1d39c4;
    --blue-700: #10239e;
    --blue-800: #061178;

}

body{
    width: 100%;
}

a{
    text-decoration: none;
}

.sidebar{
    width: 15%;
    min-width: 200px;
    height: 100vmin;
    padding-top: 0.3rem;
}

.sidebar-header{
    width: 100%;
    height: 10%;
    min-height: 60px;
    background-color: #fff;
    font-weight: 500;
    font-size: 1.0rem;
    display: flex;
    justify-content: center;
    align-items: center;

}.sidebar-body{
    padding-top: 0.3rem;
    width: 100%;
    height: 90%;
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: 1.0rem;
}
.sidebar a:hover{
    background: #b913fb;
    font-size: 1.4rem;
    transition: 0.7s;
}

.main {
    padding-top: 0.3rem;
    background-color: var(--secondary-color);
}

.header-top{
    width: 100%;
    height: 20%;
    min-height: 80px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;

    padding: 3rem;
    background-color: var(--secondary-color);
}

.btn-adc{
    background-color: var(--blue-500);
    padding: 0.7rem;
    font-size: 1.0rem;
    font-weight: 600;
    border-radius: 5px;
    color: var(--secondary-color)
}

.btn-adc:hover{
    background-color: var(--gray-400);
    font-weight: 700;
}