:root {
    --primary-color: #50f;
    --secondary-color: #fff;
    --success-color: #52c41a;
    --main-background: #fafafa;
    --gray-200: #f5f5f5;
    --gray-400: #d9d9d9;
    --gray-500: #bfbfbf;
    --gray-600: #8c8c8c;
    --purple-200: #a491ff;
    --purple-300: #8561ff;
    --purple-400: #6b31ff;
    --purple-500: #50f;
    --purple-800: #210070;
    --purple-800: #210070;
    --blue-300: #85a5ff;
    --blue-500: #2f54eb;
    --blue-600: #1d39c4;
    --blue-700: #10239e;
    --blue-800: #061178;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.sidebar {
    width: 15%;
    min-width: 200px;
    height: 100vmin;
    padding-top: 0.3rem;
}

.sidebar-header {
    width: 100%;
    height: 10%;
    min-height: 60px;
    background-color: #fff;
    font-weight: 500;
    font-size: 1.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-body {
    padding-top: 0.3rem;
    width: 100%;
    height: 90%;
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: 1.0rem;
}

.sidebar a:hover,
.nav-pills .nav-link.active,
.dropdown-item.active {
    background: #b913fb;
    font-size: 1.4rem;
    transition: 0.7s;
}

.main {
    padding-top: 0.3rem;
    background-color: var(--secondary-color);
}

.header-top {
    width: 100%;
    height: 20%;
    min-height: 80px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 3rem;
    background-color: var(--secondary-color);
}

body a {
    margin-bottom: 16px;
}

.btn-adc {
    background-color: var(--blue-500);
    padding: 0.7rem;
    font-size: 1.0rem;
    font-weight: 600;
    border-radius: 5px;
    color: var(--secondary-color);
}

.btn-adc:hover {
    background-color: var(--gray-400);
    font-weight: 700;
}

table {
    width: 100%;
    max-width: 150%;
    margin-bottom: 0.5rem;
    table-layout: fixed;
    text-align: center;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: center;
    color: var(--gray-600);
}

table tbody tr {
    opacity: 0.7s;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: white;
    padding: 1rem 2rem;
}

.searchs {
    left: 35.2rem;
    margin: 2%;
}

.sub-menu{
    margin-left: 50px;
    color: white;
}

.table-container {
    padding: 20px;
}
  
.card-table {
    width: 100%;
    border: 1px solid #D9D7D6;
    table-layout: fixed !important;
}
  
.left-table-data {
    padding-left: 50px;
}

.my-card-table-heading {
    background-color: #E9E9E9;
    font-family: "Proxima Nova Regular";
    color: #000000;
    font-size: 1rem;
    padding: 10px 5px 10px 25px;
}
  
.special-table-heading-last {
    padding-left: 25px ;
}
  
.my-card-link-2 {
    color: #0e5b8b;
}
  
.submenu-list-container {
    display: none;
}

.submenu-list-container.active {
    justify-content: center;
    padding-left: 80%;
    display: block;
}
  
.close-submenu {
    cursor: pointer;
}
